<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <script>window.upsettings = {'api_key': 'MlXIsLEVhNtLb8XFpaD7HNCzPuxkkqhH3nw2iZ1BRDotF5WTTaDJ1pV4UduJ'}</script><script>(function(){var w=window;var up=w.Upscribe;if(typeof up==="function"){up('reattach_activator');up('update',upsettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Upscribe=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://upscri.be/js/snippet.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if( w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    <div class="upscribe-embed" data-src="https://upscri.be/vjdyns"></div>
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="social-links">
          {%- include social.html -%}
        </div>
      </div>
  
    </div>
  
  </footer>